/* Image without text styling */
img {
  width: 100%;
}

picture {
  width: 100%;
}

/* Text box styling */

.text-container {
  --margin-bot: 1.5rem;
  text-align: center;
  padding: 4rem 1.5rem;
}

.text-container h2 {
  font-family: var(--ff-frances);
  font-size: var(--fs-600);
  font-weight: 900;
  color: var(--Very-dark-desaturated-blue);
  word-wrap: break-word;
  line-height: normal;
  margin-bottom: var(--margin-bot);
}

.text-container p {
  color: var(--Dark-grayish-blue);
  margin-bottom: var(--margin-bot);
}

.text-container button {
  /* Display flex to center the content ::after */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: var(--ff-frances);
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
}

.text-container button::after {
  z-index: -1;
  --height: 0.6rem;
  content: "";
  display: block;
  width: calc(100% + 1rem);
  height: var(--height);
  opacity: 0.3;
  border-radius: 9999px;
  margin-top: calc(var(--height) * -1.05);
}

.text-container button:hover::after {
  opacity: 1;
}

.btn-yellow-after::after {
  background-color: var(--Yellow);
}

.btn-red-after::after {
  background-color: var(--Soft-red);
}

/* Image with text styling */
.image-with-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  height: 35rem;

  text-align: center;
  text-align: center;
  padding: 4rem 1.5rem;

  background-size: cover;
  background-position: center;
}

.image-with-text h2 {
  font-weight: 900;
  font-family: var(--ff-frances);
}

.image-with-text p {
  font-family: var(--ff-barlow);
  font-weight: unset;
  margin-top: 1.5rem;
}

.graphic-design {
  color: var(--Dark-desaturated-cyan);
  background-image: url("/src/assets/images/mobile/image-graphic-design.jpg");
}

.photography {
  color: var(--Dark-blue);
  background-image: url("/src/assets/images/mobile/image-photography.jpg");
}

/* Desktop layout & changes */

@media screen and (min-width: 50em) {
  .layout {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .text-container:first-of-type {
    grid-row-start: 1;
  }

  .text-container {
    text-align: unset;
    padding-block: unset;
    max-width: 30rem;
  }

  .text-container h2 {
    font-size: var(--fs-700);
  }

  .image-with-text {
    height: 100%;
    width: 100%;
    padding: 3rem 1.5rem;
  }

  .image-with-text p {
    max-width: 22rem;
  }

  .graphic-design {
    background-image: url("/src/assets/images/desktop/image-graphic-design.jpg");
  }

  .photography {
    background-image: url("/src/assets/images/desktop/image-photography.jpg");
  }
}
